GameLogic/bin/
GameLogic/obj/
GameLogic/Content/bin/
GameLogic/Content/obj/
Android/bin/
Android/obj/
Android/Content/bin/
Android/Content/obj/
Windows/bin/
Windows/obj/
Windows/Content/bin/
Windows/Content/obj/
iOS/Content/bin/
iOS/Content/obj/
iOS/bin/
iOS/obj/
.vs/
